<%
# Copyright 2019 Matthew B. Gray
# Copyright 2019 Steven C Hartley
# Copyright 2019 AJ Esler
# Copyright 2019 Chris Rose
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
%>
Kia Ora <%= @detail.playful_nickname %>!

We've sent you this email to let you know that you've just finished paying for your <%= @reservation.membership %> membership,
and that your membership number is #<%= @reservation.membership_number %>.

You paid <%= @charge.amount.format(with_currency: true) %> which will show up on your statement with the
identifier "<%= @charge.stripe_id %>" and will appear to be going out to "CoNZealand".

You can update your detals and access our services any time by returning to the members area.

CoNZealand - <%= $member_services_email %>
https://conzealand.nz/
