<%#
  Copyright 2018 Rosanna Gray
  Copyright 2019 Matthew B. Gray
  Copyright 2019 Jen Zajac (jenofdoom)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<%= fields_for(@detail) do |detail_form| %>
  <p>
    For more information about how we handle and use your personal information, please read our
    <a href="https://conzealand.nz/privacy-policy/" target="_blank" rel="noopener">Privacy Policy</a> and our
    <a href="https://conzealand.nz/about-conzealand/policies-and-expectations/" target="_blank" rel="noopener">Terms of Service</a>.
  </p>

  <% if !@reservation.persisted? && @current_memberships.present? %>
    <fieldset class="l-v-spacing">
      <legend>Review Your Memberships</legend>
      <p>
        You also have <%= @current_memberships %>. If you'd rather upgrade, pay for or change those details, head over
        to the <%= link_to "My Memberships", reservations_path %> section.
      </p>
    </fieldset>
  <% end %>

  <fieldset class="l-v-spacing">
    <legend>Membership Details</legend>

    <%= hidden_field_tag(:offer, @my_offer.hash) %>

    <fieldset class="l-v-spacing">
      <div class="row">
        <div class="col-12 col-md-2">
          <div class="form-group">
            <label for="title">Title</label>
            <%= detail_form.text_field(:title, class: "form-control", id: "title") %>
            <% if errors = form_input_errors(@detail, :title) %>
              <p class="form-error"><%= errors %></p>
            <% end %>
          </div>
        </div>

        <div class="col-12 col-md-5">
          <div class="form-group">
            <label for="first_name">First Name (required)</label>
            <%= detail_form.text_field(:first_name, required: true, class: "form-control", id: "first_name") %>
            <% if errors = form_input_errors(@detail, :first_name) %>
              <p class="form-error"><%= errors %></p>
            <% end %>
          </div>
        </div>

        <div class="col-12 col-md-5">
          <div class="form-group">
            <label for="last_name">Last Name (required)</label>
            <%= detail_form.text_field(:last_name, required: true, class: "form-control", id: "last_name") %>
            <% if errors = form_input_errors(@detail, :last_name) %>
              <p class="form-error"><%= errors %></p>
            <% end %>
          </div>
        </div>
      </div>

      <p class="form-note form-note-m-group">
        This is the name that appears on your official ID. We will need to check your ID at registration.
      </p>
    </fieldset>

    <fieldset class="l-v-spacing">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="preferred_first_name">Public First Name</span></label>
            <%= detail_form.text_field(:preferred_first_name, class: "form-control", id: "preferred_first_name") %>
            <% if errors = form_input_errors(@detail, :preferred_last_name) %>
              <p class="form-error"><%= errors %></p>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="preferred_last_name">Public Last Name</label>
            <%= detail_form.text_field(:preferred_last_name, class: "form-control", id: "preferred_last_name") %>
            <% if errors = form_input_errors(@detail, :preferred_last_name) %>
              <p class="form-error"><%= errors %></p>
            <% end %>
          </div>
        </div>
      </div>
      <p class="form-note form-note-m-group">
        This is the name you would like to be addressed by.
        If it is left blank, you will be addressed by your legal name.
      </p>
    </fieldset>

    <fieldset class="l-v-spacing">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="badge_title">Badge Name</label>
            <%= detail_form.text_field(:badge_title, class: "form-control", id: "badge_title") %>
            <% if errors = form_input_errors(@detail, :badge_title) %>
              <p class="form-error"><%= errors %></p>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="badge_subtitle">Badge Subtitle</label>
            <%= detail_form.text_field(:badge_subtitle, class: "form-control", id: "badge_subtitle") %>
            <% if errors = form_input_errors(@detail, :badge_subtitle) %>
              <p class="form-error"><%= errors %></p>
            <% end %>
          </div>
        </div>
      </div>
      <p class="form-note form-note-m-group">
        This is the text we will print on your badge. It will default to Your preferred name and City and
        Country from your address. Both fields are modifiable.
      </p>
      <p class="form-note form-note-m-group">
        Please note that we reserve the right to reject text that falls outside our code of conduct.
      </p>
    </fieldset>

    <fieldset class="l-v-spacing">
      <div class="form-options">
        <%= detail_form.check_box(:share_with_future_worldcons, class: "form-control form-control-m-checkbox", id: "share_with_future_worldcons") %>
        <label for="share_with_future_worldcons">Share membership details with future worldcons?</label>
      </div>

      <p class="form-note form-note-m-group">
        Sharing your information with future Worldcons gives you the Hugo nominating rights for Worldcons other than
        2020 that come with your membership. If you answer no, you will not be able to exercise those rights.
      </p>

      <div class="form-options">
        <%= detail_form.check_box(:show_in_listings, class: "form-control form-control-m-checkbox", id: "show_in_listings") %>
        <label for="show_in_listings">List name on the CoNZealand website and in published directories?</label>
      </div>

      <p class="form-note form-note-m-group">
        SFCONZ and Worldcon 78 want to list your information on our websites.
      </p>
    </fieldset>
  </fieldset>

  <fieldset class="l-v-spacing">
    <legend>Address and Contact Information</legend>
    <p class="form-note form-note-m-group">
      Where do you get your postal mail? This should match your credit card address, if you use one.
    </p>

    <div class="form-group">
      <label for="address_line_1">Address Line 1 (required)</label>
      <%= detail_form.text_field(:address_line_1, required: true, class: "form-control", id: "address_line_1") %>
      <% if errors = form_input_errors(@detail, :address_line_1) %>
        <p class="form-error"><%= errors %></p>
      <% end %>
    </div>

    <div class="form-group">
      <label for="address_line_2">Address Line 2</label>
      <%= detail_form.text_field(:address_line_2, class: "form-control", id: "address_line_2") %>
      <% if errors = form_input_errors(@detail, :address_line_2) %>
        <p class="form-error"><%= errors %></p>
      <% end %>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <%= detail_form.text_field(:city, class: "form-control", id: "city") %>
      <% if errors = form_input_errors(@detail, :city) %>
        <p class="form-error"><%= errors %></p>
      <% end %>
    </div>

    <fieldset>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <div class="form-group">
              <label for="province">State / Province / Region</label>
              <%= detail_form.text_field(:province, class: "form-control", id: "province") %>
              <% if errors = form_input_errors(@detail, :province) %>
                <p class="form-error"><%= errors %></p>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <div class="form-group">
              <label for="postal">Post code</label>
              <%= detail_form.text_field(:postal, class: "form-control", id: "postal") %>
              <% if errors = form_input_errors(@detail, :postal) %>
                <p class="form-error"><%= errors %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="country">Country (required)</label>
        <%= detail_form.text_field(:country, required: true, class: "form-control", id: "country") %>
        <% if errors = form_input_errors(@detail, :country) %>
          <p class="form-error"><%= errors %></p>
        <% end %>
      </div>
    </fieldset>

    <div class="form-group">
      <label for="publication_format">Paper pubs format</label>
      <%= detail_form.select(:publication_format, @paperpubs, {}, {
        class: "form-control",
        id: "publication_format",
      }) %>
      <% if errors = form_input_errors(@detail, :publication_format) %>
        <p class="form-error"><%= errors %></p>
      <% end %>
    </div>

    <p class="form-note form-note-m-group">
      Our primary means of communication are electronic, in particular our registration system. Opting out of
      electronic publications does not mean that you will receive zero emails from us. It does mean that we
      will not attempt to send progress reports, etc., to your email address.
    </p>
  </fieldset>

  <fieldset class="l-v-spacing">
    <legend>Accessibility Services</legend>
    <div class="form-options">
      <%= detail_form.check_box(:interest_accessibility_services, class: "form-control form-control-m-checkbox", id: "interest_accessibility_services") %>
      <label for="interest_accessibility_services">I would like information on disability or accessibility services at CoNZealand</label>
    </div>

    <legend>Additional Options</legend>
    <p class="form-note form-note-m-group">
      This is how we know if you want to be contacted about specific things. We ask these questions to help us
      give you the experience you are after.
    </p>

    <div class="form-options">
      <%= detail_form.check_box(:interest_volunteering, class: "form-control form-control-m-checkbox", id: "interest_volunteering") %>
      <label for="interest_volunteering">I am interested in volunteering before or at the convention</label>
    </div>

    <div class="form-options">
      <%= detail_form.check_box(:interest_being_on_program, class: "form-control form-control-m-checkbox", id: "interest_being_on_program") %>
      <label for="interest_being_on_program">I am interested in being a program participant</label>
    </div>

    <div class="form-options">
      <%= detail_form.check_box(:interest_dealers, class: "form-control form-control-m-checkbox", id: "interest_dealers") %>
      <label for="interest_dealers">I am interested in vending in the Dealers Room</label>
    </div>

    <div class="form-options">
      <%= detail_form.check_box(:interest_selling_at_art_show, class: "form-control form-control-m-checkbox", id: "interest_selling_at_art_show") %>
      <label for="interest_selling_at_art_show">I am interested in selling my art in the art show</label>
    </div>

    <div class="form-options">
      <%= detail_form.check_box(:interest_exhibiting, class: "form-control form-control-m-checkbox", id: "interest_exhibiting") %>
      <label for="interest_exhibiting">I am interested in exhibiting at the convention</label>
    </div>

    <div class="form-options">
      <%= detail_form.check_box(:interest_performing, class: "form-control form-control-m-checkbox", id: "interest_performing") %>
      <label for="interest_performing">I am interested in performing at the convention</label>
    </div>
  </fieldset>

  <div class="l-v-spacing-both">
    <div class="form-group">
      <% if @reservation.persisted? %>
        <input type="submit" value="Save Details" class="btn btn-m-full-width">
      <% elsif @my_offer.membership.price > 0  %>
        <input type="submit" value="Reserve Membership and Pay" class="btn btn-m-full-width">
      <% else %>
        <input type="submit" value="Reserve Membership" class="btn btn-m-full-width">
      <% end %>
    </div>

    <p>
      This charge will show as being from 'CoNZealand'. We are based in New Zealand, and use Stripe as our
      payment processor.
    </p>

    <p>We do not store your credit card information.</p>
  </div>
<% end %>
