<%#
  Copyright 2018 Rosanna Gray
  Copyright 2019 Matthew B. Gray
  Copyright 2019 Jen Zajac (jenofdoom)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<h1>
  <% if kiosk? %>
    Kiosk:
  <% end %>
  Reserve Membership
</h1>

<section class="l-section">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="l-panel">
        <%= render "membership_card", offer: @my_offer %>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="l-panel">
        <% if kiosk? %>
          <h2><%= kiosk? && "Kiosk:" %> Reserve a New Membership</h2>
          <%= form_for(@reservation, url: kiosk_reservations_path) do |form| %>
            <%= render "detail_form", reservation_form: form %>
          <% end %>
        <% elsif !user_signed_in? %>
          <h2>Sign in to Reserve Membership</h2>
          <%= render "sign_in_notice" %>
        <% else %>
          <h2>Reserve a New Membership</h2>
          <%= form_for(@reservation) do |form| %>
            <%= render "detail_form", reservation_form: form %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
