<%
# Copyright 2019 Matthew B. Gray
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
%>

<%= form_for(UserToken.new) do |f| %>
  <div class="form-group">
    <label for="email">Email address</label>
    <%= text_field_tag(:email, nil, class: "form_control", id: "email") %>
    <%= submit_tag("Send Login Link", class: "btn") %>
  </div>

  <p>
    Please sign in with the email you created your account with, <em>OR</em> with the email address you want to
    use to create your account.
  </p>

  <p>
    We will send you a link in your email to log you in. For security reasons, the link is only valid for 10 minutes, so
    be sure you are in a position to retrieve your email.
  </p>
<% end %>
