<%#
  Copyright 2019 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<% if request.path != root_path %>
  <div class="<%= navigation_classes %> pointer"
    data-toggle="collapse"
    data-target="#navbarHeader"
  >
    <div class="container d-flex justify-content-between">
      <div
        class="navbar-brand d-flex align-items-center"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <strong>Menu and Account Options</strong>
      </div>

      <button
        class="navbar-toggler collapsed"
        type="button"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
<% else %>
  <div class="<%= navigation_classes %>">
    <div class="container d-flex justify-content-between">
      <div class="navbar-brand d-flex align-items-center">
        <strong>Welcome to the Members Area</strong>
      </div>
    </div>
  </div>
<% end %>

<nav class="container <%= "collapse" if request.path != root_path %>" id="navbarHeader">
  <div class="row">
    <div class="col-sm-8 col-md-6 py-4">
      <ul class="list-unstyled l-v-spacing">
        <li><%= link_to "Purchase Membership", memberships_path %></li>
        <li><%= link_to "My Memberships", reservations_path %></li>
        <li>Suggest for our Programme (coming soon)</li>
        <li><a href="https://conzealand.nz/conzealand-needs">Volunteering</a></li>
        <li>Plan my trip(coming soon)</li>
        <li><a href="https://conzealand.nz">Back to CoNZealand homepage</a></li>
      </ul>
      <% if Rails.env.development? %>
        <h2 class="h4-like">Developer links</h2>
        <ul class="list-unstyled l-v-spacing">
          <li><%= link_to "Check email (mailcatcher)", "http://localhost:1080" %></li>
        </ul>
      <% end %>
    </div>

    <div class="col-sm-4 offset-md-1 col-md-5 py-4">
      <% if user_signed_in? %>
        <h2 class="h4-like">Account actions</h2>
        <%= link_to("Logout #{current_user.email}", logout_user_tokens_path) %>
      <% else %>
        <h2 class="h4-like">Login or Create an Account</h2>
        <%= render template: "user_tokens/new" %>
      <% end %>
    </div>
  </div>
</nav>
